@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');

:root {
  --primary-gold: rgb(237, 201, 125);
  --primary-white: #ffffff;
  --primary-light-grey: #f4f4f4;
  --primary-orange: #FF871A;
  --primary-green: #4AB834;
  --primary-dark: rgb(255, 255, 255, 0);
  --primary-dark2: rgb(52, 58, 64);
  --primary-grey: rgb(44, 48, 52);
  --primary-black: rgb(6, 7, 7);
  --primary-med-grey: rgb(107, 113, 120);
  --primary-red: #f04019;
  --primary-hover-red: #bf2402;
}

body {
  font-family: 'Josefin Sans', sans-serif !important;

}

/************************Navbar***********************/
nav {
  z-index: 2;
}

.logo {
  width: 16.25rem;
  height: auto;
}

/*********** MENU LINKS ***************/
nav a.nav-link {
  font-weight: 200;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-gold) !important;
  border-top: 0.1875rem solid var(--primary-dark);
  border-bottom: 0.1875rem solid var(--primary-dark);

}

.navbar-brand {
  max-width: 17.25rem;
  /* padding: 0 !important; */
  /* padding-bottom: 0.2rem !important; */
  height: 4rem !important;
}

@media(max-width: 767px) {
  .navbar-brand {
    max-width: 5rem;
  }
}

.navbar-nav>li>a.active, .navbar-nav>li>a:focus {
  border-bottom: 0.1875rem solid var(--primary-gold);
}

.navbar-nav>li>a:hover {
  border-bottom: 0.1875rem solid var(--primary-gold);
  transition: transform 250ms;
  transform: translateY(0.3rem);
}

/*********** HEADER ***************/
.header-wraper {
  position: relative;
  background: url(background2.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.main-info h1 {
  color: var(--primary-gold);
  text-transform: uppercase;
}

/*********** About Us ***************/

.photo-wrap {
  display: flex;
  justify-content: center;
}


.profile-img {
  width: 16rem;
  border-radius: 30%;
  padding: .5rem;
  margin-bottom: 2rem;
  border: 1px solid var(--primary-gold);
}

.about-heading {
  color: var(--primary-gold);
  text-transform: uppercase;
}

@media(max-width: 468px) {
  .profile-img {
    width: 15rem;
  }
}